{% extends "cmsbase.html" %}

{% block title %}

    <title>Home | SportsAdministrator CMS</title>

{% endblock %}

{% block content %}

    <section id="competitions">

        <div class="cms-header">

            COMPETITIONS

        </div>

        <div class="cms-details">

            {% if competitions %}

                {% for competition in competitions %}

                    {{ competition.name }}<br />

                {% endfor %}

            {% else %}

                You haven't set up any competitions yet.

            {% endif %}

        </div>

    </section>

{% endblock %}