{% extends "cmsbase.html" %}

{% block title %}

    <title>Home | SportsAdministrator CMS</title>

{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="page-header">
            Welcome, {{ user }}
        </div>

    {% endif %}

    <h1>

        {% if user.is_superuser %}
            <a class="text-link" href="{% url 'site_home' %}">Site Admin</a> |
        {% endif %}
        CMS Home

    </h1>

    <section id="competitions">

        <div class="cms-header">

            COMPETITIONS

        </div>

        <div class="cms-details">

            {% if competitions %}

                {% for competition in competitions %}

                    <div class="list-item">

                        {% if competition.is_active %}
                            <img class="icon-image active-state" src="{{ MEDIA_URL }}images/icons/tick.png" />
                        {% else %}
                            <img class="icon-image active-state" src="{{ MEDIA_URL }}images/icons/cross.png" />
                        {% endif %}

                        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.sport.icon }}" />
                        <img class="icon-image" src="{{ MEDIA_URL }}{{ competition.country.flag }}" />
                        {{ competition.name }} <a class="list-link" href="">Edit</a>
                        {{ competition.name }}
                        <a class="list-link" href="">Details</a>

                        {% if competition.is_active %}
                            <a class="list-link" href="">Current</a>
                        {% endif %}

                    </div>

                {% endfor %}

            {% else %}

                You haven't set up any competitions yet.

            {% endif %}

        </div>

        <div class="cms-link-button">

            <a href="{% url 'new_competition' %}">
                New Competition
            </a>

        </div>

    </section>

{% endblock %}