body {
    font-family: 'Archivo Narrow';
    margin: 0;
    padding: 0;
}

header {
    background-color: #6bdc73;
    color: white;
    padding: 0 10px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
.liner {
    height: 3px;
    background-color: #6bdc73;
}
footer {
    background-color: #6bdc73;
    color: white;
    padding: 0 10px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

a {
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-style: italic;
    margin: 0px;
}

.icon-image {
    height: 15px;
    width: 15px;
}
.active-state {
    margin-right: 10px;
}

.page-header {
    font-style: italic;
    font-size: 1.5em;
}
.right-text {
    float: right;
}

#cms-page {
    margin: 10px;
}
.cms-header {
    margin: 10px 0 0 0;
    background-color: #6bdc73;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 2px 0px 2px 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0 0;
}
.cms-details {
    padding: 5px;
    border: 2px solid #6bdc73;
    border-top: 0;
}

.cms-link-button {
    text-align: center;
    margin: 5px auto;
    background-color: #6bdc73;
    width: fit-content;
    padding: 5px;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #279830;
    display: inline-block;
}
.cms-link-button:hover {
    background-color: #5acb62;
}
.cms-link-button:active {
    background-color: #38a940;
}
.cms-link-button a {
    text-decoration: none;
    color: white;
}
.cms-link-button a:hover {
    text-decoration: underline;
}
.cms-button {
    text-align: center;
    margin: 5px auto;
    background-color: #6bdc73;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #279830;
    color: white;
    font-family: 'Archivo Narrow';
    font-size: 1em;
}
.cms-button:hover {
    background-color: #5acb62;
    text-decoration: underline;
}
.cms-button:active {
    background-color: #38a940;
    outline: none;
}

.plain-link {
    color: #ffffff;
    text-decoration: none;
}
.list-link, .text-link {
    color: #38a940;
    text-decoration: none;
}
.list-link:hover {
    text-decoration: underline;
}

#default-form label {
    display: block;
}
.list-icon {
    height: 12px;
}
.header-icon {
    height: 20px;
}

/* Flexbox styles for pagination */
.pagination-links {
    display: flex;
    background-color: #6bdc73;
    border-radius: 0 0 10px 10px;
    color: white;
}
.pagination-section {
    flex: 1;
    text-align: center;
    border-right: 1px solid #38a940;
    padding: 2px;
    margin: 0;
}
.pagination-section:last-of-type {
    border-right: none;
}

/* Styles for pagination buttons */
.pagination-button:hover {
    background-color: #5acb62;
}
.pagination-button a, .pagination-current a, .first-section a, .last-section a {
    color: white;
    text-decoration: none;
}
.pagination-button a:hover, .pagination-current a:hover, .first-section a:hover, .last-section a:hover {
    text-decoration: underline;
}
.pagination-current {
    background-color: #49ba51;
}

#default-form label {
    display: inline;
}