{% extends "cmsbase.html" %}

{% block title %}

    <title>All Countries | Site Admin | SportsAdministrator</title>

{% endblock %}

{% block content %}

    <h1>
        World Database
    </h1>

    <div class="cms-header">

        COUNTRIES

    </div>

    <div class="cms-details">

        {% if list_section %}

            {% for country in list_section %}

                <div class="list-item">

                    <img class="list-icon" src="{{ MEDIA_URL }}{{ country.flag }}" />
                    <a class="text-link" href="{% url 'country_details' country.abbreviation %}">
                        {{ country.name }}
                    </a>
                    > States
                    > Cities

                </div>

            {% endfor %}

        {% else %}

            No countries have been added yet.

        {% endif %}

    </div>

    <!-- Pagination links. -->

    <div class="pagination-links">

        <div class="pagination-section first-section">
            {% if list_section.has_previous %}
                <a class="text-link" href="?page={{ list_section.previous_page_number }}">
                    &lt;
                </a>
            {% endif %}
        </div>

        {% for section in list_section.paginator.page_range %}
            {% if section == current_page %}
                <div class="pagination-section pagination-current">
                    {{ section }}
                </div>
            {% else %}
                <div class="pagination-section pagination-button">
                    <a href="?page={{ section }}">
                        {{ section }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        <div class="pagination-section last-section">
            {% if list_section.has_next %}
                <a class="text-link" href="?page={{ list_section.next_page_number }}">
                    &gt;
                </a>
            {% endif %}
        </div>

    </div>

    <div class="cms-link-button">

        <a href="{% url 'new_country' %}">
            Add New
        </a>

    </div>

{% endblock %}