{% extends "cmsbase.html" %}

{% block title %}

	<title>Country Details: {{ country.name }} | Site Admin | SportsAdministrator</title>

{% endblock %}

{% block content %}

    <div class="page-header">
        COUNTRY DETAILS<br>
        <img class="header-icon" src="{{ MEDIA_URL }}{{ country.flag }}" /> {{ country.name }}
    </div>

    <!-- Form for creating a new user. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>

    <div class="cms-header">

        STATES

    </div>

    <div class="cms-details">

        {% if states %}

            {% for state in states %}

                <div class="list-item">

                    <img class="list-icon" src="{{ MEDIA_URL }}{{ state.flag }}" />
                    <a class="text-link" href="{% url 'state_details' country.abbreviation state.abbreviation %}">
                        {{ state.name }}
                    </a>
                    > Cities

                </div>

            {% endfor %}

        {% else %}

            No states have been added yet.

        {% endif %}

    </div>

    {% if state_total > 10 %}

        <div class="cms-link-button">

            <a class="text-link" href="{% url 'state_list' country.abbreviation %}">
                View All
            </a>

        </div>

    {% endif %}

    <div class="cms-link-button">

        <a href="{% url 'new_state' country.abbreviation %}">
            Add New
        </a>

    </div>

{% endblock %}