            <div class="cms-header">

                COUNTRIES

            </div>

            <div class="cms-details">

                {% if countries %}

                    {% for country in countries %}

                        <div class="list-item">

                            <img class="list-icon" src="{{ MEDIA_URL }}{{ country.flag }}" />
                            <a class="text-link" href="{% url 'country_details' country.abbreviation %}">
                                {{ country.short_name }}
                            </a>
                            >
                            <a class="text-link" href="{% url 'state_list' country.abbreviation %}">
                                States
                            </a>
                            > Cities

                        </div>

                    {% endfor %}

                {% else %}

                    No countries have been added yet.

                {% endif %}

            </div>
