{% extends "cmsbase.html" %}

{% block title %}

	<title>Add New Country | Site Admin | SportsAdministrator</title>

{% endblock %}

{% block content %}

    <div class="page-header">
        ADD NEW COUNTRY
    </div>

    <!-- Form for adding a new country. -->
    <form id="default-form" enctype="multipart/form-data" role="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cms-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}