{% extends "cmsbase.html" %}

{% block title %}

    <title>Home | SportsAdministrator Site Admin</title>

{% endblock %}

{% block content %}

    {% if user.is_superuser %}

        <div class="page-header">
            Welcome, {{ user }}
        </div>

        <h1>
            Site Admin
            | <a class="text-link" href="{% url 'cms_home' %}">CMS Home</a>
        </h1>

        <section id="users">

            <div class="cms-header">

                USERS

            </div>

            <div class="cms-details">

                {% if users %}

                    {% for user in users %}

                        <div class="list-item">

                            {% if user.profile_picture %}
                                <img class="list-icon" src="{{ MEDIA_URL }}{{ user.profile_picture }}" />
                            {% endif %}
                            <a class="text-link" href="{% url 'user_details' user.username %}">
                                {{ user.username }}
                            </a>

                        </div>

                    {% endfor %}

                {% else %}

                    No users have been created yet.

                {% endif %}

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_user' %}">
                    View All
                </a>

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_user' %}">
                    Add New
                </a>

            </div>

        </section>

        <section id="sports">

            <div class="cms-header">

                SPORTS

            </div>

            <div class="cms-details">

                {% if sports %}

                    {% for sport in sports %}

                        <div class="list-item">

                            <img class="list-icon" src="{{ MEDIA_URL }}{{ sport.icon }}" />
                            <a class="text-link" href="{% url 'sport_details' sport.name %}">
                                {{ sport.name }}
                            </a>

                        </div>

                    {% endfor %}

                {% else %}

                    No sports have been added yet.

                {% endif %}

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_user' %}">
                    View All
                </a>

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_sport' %}">
                    Add New
                </a>

            </div>

        </section>

        <section id="countries">

            <div class="cms-header">

                WORLD

            </div>

            <div class="cms-details">

                {% if countries %}

                    {% for country in countries %}

                        <div class="list-item">

                            <img class="list-icon" src="{{ MEDIA_URL }}{{ country.flag }}" />
                            <a class="text-link" href="{% url 'country_details' country.abbreviation %}">
                                {{ country.name }}
                            </a>
                            > States
                            > Cities

                        </div>

                    {% endfor %}

                {% else %}

                    No countries have been added yet.

                {% endif %}

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_user' %}">
                    View All
                </a>

            </div>

            <div class="cms-link-button">

                <a href="{% url 'new_user' %}">
                    Add New
                </a>

            </div>

        </section>

    {% else %}

        <div class="page-header">
            Sorry, you don't have permission to view this page.
        </div>

    {% endif %}

{% endblock %}