{% extends "base.html" %}

{% block page %}

    <div class="liner"></div>

    <header>

        <h1>
            {% if user.is_superuser %}
                <a class="plain-link" href="{% url 'site_home' %}">
            {% else %}
                <a class="plain-link" href="{% url 'cms_home' %}">
            {% endif %}
                SportsAdministrator
            </a>
        </h1>

    </header>

    <div class="liner"></div>

    <div id="cms-page">

        <span class="right-text">
            <a class="text-link" href="{% url 'logout' %}">Log Out</a>
        </span>

        {% block content %}
        {% endblock %}

    </div>

    <div class="liner"></div>

    <footer>

        &copy; SportsAdministrator {% now "Y" %}

    </footer>

    <div class="liner"></div>

{% endblock %}